@import "../../browork/components/global";
@import "../mixin";

.content-panel{
  background: $backgroundColor;
  margin-top: 10px;
  padding-bottom: 60px;
  @include framePanelBorder();


  .content-nav{
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    span{
      display: inline-block;
      width:60px;
      height:47px;
      line-height: 47px;
      margin-top: 10px;
      cursor: pointer;
      &:hover{
        border-bottom: 3px #9aab20 solid;
      }
    }

    .active {
      border-bottom: 3px #9aab20 solid;
    }


    input{
      float: right;
      width: 200px;
      height: 18px;
      margin-right: 10px;
      margin-top: 18px;
    }
    button{
      float: right;
      width: 100px;
      height: 25px;
      margin-top: 17px;
    }
  }

  .allPanel, #subjectPanel {
    ul li.content-pool {
      padding: 15px;
      border-bottom: 1px solid #e3e3e3;
      list-style-type: none;
      &:hover {
        background-color: #fafafa;
      }
      .pool-player-left {
        float: left;
      }

      .pool-player-right {
        margin-left: 60px;

        dl {
          dt {
          }
          dd {
            margin: 0px;
            padding: 0px;
          }

          dd.content-pool-title {
            h4 {
              margin-top: 15px;
              margin-bottom: 0;

            }
          }

          dd.content-pool-text {
            p {
              letter-spacing: 1px;
              line-height: 20px;
            }
            a {
              float: right;
            }
          }

          dd.content-pool-pic {
            clear: both;
            ul {
              list-style-type: none;
              li {
                display: inline-block;
                margin-right: 1px;
              }
            }
          }

          dd.content-pool-footer {
            margin-top: 15px;
            span {
              margin-right: 10px;
            }

            a {
              float: right;
              width: 50px;
            }
          }
        }
      }
    }
  }

  #menuPanel {
    ul {
      li {
        .pool-player-right {
          position: relative;
          .menu-function, .menu-helfth {
            margin-top: 15px;
            ul {
              list-style-type: none;
              li {
                display: inline-block;
                height: 20px;
                line-height: 20px;

              }
            }
          }

          .content-pool-pic {
            position: absolute;
            top: 0;
            right: 0;
          }

        }
      }
    }
  }


  #partyPanel {
    ul {
      li {
        .pool-player-right {
          dl {
            dt {
              .party-title {
                display: inline-block;
                width: 49%;
                text-align: left;
              }
              .party-price {
                display: inline-block;
                width: 25%;
                text-align: left;
              }

              .party-member {
                display: inline-block;
                width: 25%;
                text-align: right;
              }
            }

            .party-restaurant, .party-time, .party-invite {
              margin-top: 15px;
              ul {
                list-style-type: none;
                li {
                  display: inline-block;
                  height: 20px;
                  line-height: 20px;

                }
              }
            }

            .party-restaurant {
              margin-top: 20px;
              .party-restaurant-name {
                display: inline-block;
                width: 49%;
                text-align: left;
              }
              .party-restaurant-location {
                display: inline-block;
                width: 50%;
                text-align: left;
              }
            }

            .party-time {
              .start-time {
                display: inline-block;
                width: 49%;
                text-align: left;
              }
              .end-time-count {
                display: inline-block;
                width: 50%;
                text-align: left;
              }
            }

            .party-invite {
              .party-invite-gender {
                display: inline-block;
                width: 49%;
                text-align: left;

              }

              .party-button {
                display: inline-block;
                width: 50%;
                text-align: right;
                button {
                  width: 100px;
                  height: 25px;
                  line-height: 25px;
                }
              }
            }

            .content-pool-text {
              margin-bottom: 20px;
            }
          }
        }

      }
    }
  }


  #privilegePanel {
    ul {
      li {

      }
    }
  }


}